[Unit]
Description=Plays the Imperial March

[Service]
ExecStart=/usr/bin/imperial start
ExecStop=/usr/bin/imperial stop

[Install]
WantedBy=basic.target
